<div ng-show="show" ng-class="{ 'show' : show, 'hide' : show }">
    <div class="row justify-content-end">
        <div ng-if="config.usarAtivacao && !config.ativo" class="col-3">
            <button alt="Ativo" type="button" ng-click="viewAtivo()" class="btn btn-success">
                <i class="fas fa-eye"></i>
            </button>
        </div>
        <div ng-if="config.usarAtivacao && config.ativo" class="col-3">
            <button alt="Desativo" type="button" ng-click="viewDesativo()" class="btn btn-info">
                <i class="fas fa-eye-slash"></i>
            </button>
        </div>
        <div ng-if="config.alterarAtivo" class="col-3">
            <a ng-click="viewNavigate()">
                <button alt="Alterar" type="button" ng-click="viewAlterar()" class="btn btn-primary">
                    <i class="fas fa-edit"></i>
                </button>
            </a>
        </div>
        <div ng-if="config.excluirAtivo" class="col-3">
            <button alt="Excluir" type="button" ng-click="viewExcluir()" class="btn btn-danger">
                <i class="fas fa-trash" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<button type="button" ng-click="viewShow()" class="btn btn-out-primary">
    ...
</button>

<style scoped>
    acoes>div.hide {
        position: absolute;
        z-index: 999;
        margin: 0 0 0 0;
        transition: margin 0.3s ease-in;
    }
    acoes>div.show {
        position: absolute;
        z-index: 999;
        margin: 0 0 0 -250px;
    }
</style>