<div class="CategoriaCadastroController">
    <h3>{{ view.editar ? 'Edição' : 'Cadastro'}}</h3>
    <br>
    <form ng-submit="view.formSubmit()" novalidate>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" ng-class="{ active: view.viewIndexTab == 1 }" id="nav-home-tab"
                    data-toggle="tab" ng-click="view.viewSetTab(1)" role="tab" aria-controls="nav-home"
                    aria-selected="true">Dados</a>
            </div>
        </nav>
        <div class="tab-content lanc-tab" id="nav-tabContent">
            <div class="tab-pane fade" ng-class="{ 'show active': view.viewIndexTab == 1 }" id="nav-home" role="tabpanel"
                aria-labelledby="nav-home-tab">
                <!-- TAB DADOS -->
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <label for="id">Id</label>
                            <input ng-readonly="true" ng-disabled="true" type="text" class="form-control" id="id" ng-required="false" ng-value="view.entity.id">
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_nome">Nome</label>
                            <input type="text" class="form-control" id="id_nome" ng-required="!!view.erros.nome"
                                ng-maxlength="{{150}}" ng-model="view.entity.nome" aria-describedby="Nome do cliente" placeholder="">
                            <small id="textHelp" class="form-text text-muted">{{view.erros.nome}}</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button-salvar editar="view.editar"></button-salvar>
    </form>
</div>