<div class="VendaCadastroController">
    <h3>{{ view.editar ? 'Edição' : 'Cadastro'}}</h3>
    <br>
    <form ng-submit="view.formSubmit()" novalidate>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" ng-class="{ active: view.viewIndexTab == 1 }" id="nav-home-tab"
                    data-toggle="tab" ng-click="view.viewSetTab(1)" role="tab" aria-controls="nav-home"
                    aria-selected="true">Dados</a>
                <a class="nav-item nav-link" ng-class="{ active: view.viewIndexTab == 2 }" id="nav-profile-tab"
                    data-toggle="tab" ng-click="view.viewSetTab(2)" role="tab" aria-controls="nav-profile"
                    aria-selected="false">Itens</a>
            </div>
        </nav>
        <div class="tab-content lanc-tab" id="nav-tabContent">
            <div class="tab-pane fade" ng-class="{ 'show active': view.viewIndexTab == 1 }" id="nav-home" role="tabpanel"
                aria-labelledby="nav-home-tab">
                <!-- TAB DADOS -->
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <label for="id">Id</label>
                            <input ng-readonly="true" ng-disabled="true" type="text" class="form-control" id="id" ng-required="false" ng-value="view.entity.id">
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_nome">Codigo</label>
                            <input type="text" class="form-control" id="id_nome" ng-model="view.entity.nome" aria-describedby="textHelp"
                                placeholder="">
                            <small id="textHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputValor1">Valor</label>
                            <input type="valor" class="form-control" id="exampleInputValor1"
                                aria-describedby="valorHelp" placeholder="">
                            <small id="valorHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" ng-class="{ 'show active': view.viewIndexTab == 2 }" id="nav-profile"
                role="tabpanel" aria-labelledby="nav-profile-tab">
                <!-- TAB ITENS -->

            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{ view.editar ? 'Atualizar' : 'Salvar'}}</button>
    </form>
</div>