<div class="col-12">
    <div class="row">
        <div class="col-6">
            <button type="button" ng-click="viewAlterar()" class="btn btn-primary">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Alterar
            </button>
        </div>
        <div class="col-6">
            <button type="button" ng-click="viewExcluir()" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Excluir
            </button>
        </div>
    </div>
</div>