<div class="EstoqueCadastroController">
    <form ng-submit="view.formSubmit()" novalidate>
        <button-salvar editar="view.editar"></button-salvar>
        <hr>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link"
                    ng-class="{ 'border border-bottom-dark text-secondary active' : view.viewIndexTab == 1 }"
                    id="nav-home-tab" data-toggle="tab" ng-click="view.viewSetTab(1);view.viewSetEntrada()" role="tab"
                    aria-controls="nav-home" aria-selected="true">Entrada</a>
                <a class="nav-item nav-link"
                    ng-class="{ 'border border-bottom-dark text-secondary active': view.viewIndexTab == 2 }"
                    id="nav-home-tab" data-toggle="tab" ng-click="view.viewSetTab(2);view.viewSetSaida()" role="tab"
                    aria-controls="nav-home" aria-selected="true">Saída</a>
            </div>
        </nav>
        <div class="tab-content lanc-tab" id="nav-tabContent">
            <div class="show active" aria-labelledby="nav-home-tab">
                <div class="row">
                    <div class="col-1">
                        <div class="form-group">
                            <label for="id">Id</label>
                            <input ng-readonly="true" ng-disabled="true" type="text" class="form-control" id="id"
                                ng-required="false" ng-value="view.entity.id">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group">
                            <label for="id">Tipo</label>
                            <input ng-readonly="true" ng-disabled="true" type="text" class="form-control" id="id"
                                ng-required="false" ng-value="view.viewIndexTab == 1 ? 'Entrada' : 'Saída'">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_produto">Produto</label>
                            <select-pesquisa value="view.entity.produto.nome" list="view.produtos"
                                required="view.erros.produto" set-item="view.viewSetProduto($event)"
                                pesquisar-item="view.viewPesquisarProduto($event)"></select-pesquisa>
                            <small ng-if="view.erros.produto" id="textHelp"
                                class="form-text text-muted">{{view.erros.produto}}</small>
                            <small
                                ng-if="!view.erros.produto && view.produtoPage.numberOfElements">{{view.produtoPage.numberOfElements}}
                                de {{view.produtoPage.totalElements}} - Paginas {{view.produtoPage.totalPages}}</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="exampleInputQuantidade1">Quantidade</label>
                            <input type="number" class="form-control" id="exampleInputQuantidade1" minlength="1"
                                ng-required="!!view.erros.quantidade" ng-model="view.entity.quantidade"
                                aria-describedby="quantidadeHelp" placeholder="">
                            <small id="quantidadeHelp" class="form-text text-muted">{{view.erros.quantidade}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>