<div ng-controller="EstoqueCadastroController as vm">
    <h3>Cadastro</h3>
    <br>
    <form ng-submit="vm.editar ? vm.viewEditar() : vm.viewSalvar()" novalidate>
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <label for="id">Id</label>
                    <input readonly disabled type="text" class="form-control" id="id" ng-value="vm.entity.id">
                </div>

            </div>
            <div class="col">
                <div class="form-group">
                    <label for="id_nome">Produto</label>
                    <input type="text" class="form-control" id="id_nome" aria-describedby="textHelp" placeholder="">
                    <small id="textHelp" class="form-text text-muted"></small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputQuantidade1">Quantidade</label>
                    <input type="quantidade" class="form-control" id="exampleInputQuantidade1" aria-describedby="quantidadeHelp"
                        placeholder="">
                    <small id="quantidadeHelp" class="form-text text-muted"></small>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>