<div class="VendaListController">
    <cadastro nome="view.nome"></cadastro>
    <div ng-if="!!view.list && view.list.length > 0" class="row lanc-list-table">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in view.list.values() track by $index">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-2">
                                <button ng-disabled="true" type="button" class="btn btn-out-light">
                                    <small><b>{{item.id}}</b></small>
                                </button>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <small>
                                        <b>Nome:</b> {{item.nome}}
                                    </small>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <small>
                                            <b>Pedido:</b> {{item.Codigo}}
                                        </small>
                                    </div>
                                    <div class="col-6">
                                        <small>
                                            <b>Total:</b> {{item.valorTotal}}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <acoes rota="view.nome"
                                    config="{ ativo: item.ativo, usarAtivacao: true, alterarAtivo: true, excluirAtivo: false }"
                                    out-alterar="view.viewAlterar(item.id)" out-excluir="view.viewExcluir(item.id)">
                                </acoes>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div ng-if="!view.list || view.list.length <= 0" class="row lanc-list-table-empty">
        <div style="margin: 10px;">
            Não há itens na lista
        </div>
    </div>
    <div ng-if="!!view.list" class="row lanc-list-pagination">
        <paginacao config="view.paginacaoConfig" out-change="view.viewPaginacaoChange($event)"></paginacao>
    </div>
</div>