<div class="lanc-list" ng-controller="ClienteListController as vm">
    <cadastro nome="vm.nome">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button ng-click="vm.viewPesquisarNome(null)" type="button" class="input-group-text" id="basic-addon2">
                    <i class="fas fa-retweet"></i>
                </button>
            </div>
            <input type="text" placeholder="Nome..." class="form-control" ng-model="vm.pesquisaModel">
            <div class="input-group-append">
                <button ng-click="vm.viewPesquisarNome(vm.pesquisaModel)" type="button" class="input-group-text" id="basic-addon2">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </cadastro>
    <div ng-if="!!vm.list && vm.list.length > 0" class="row lanc-list-table">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in vm.list">
                <div class="col-12">
                    <div class="row">
                        <div class="col-2">
                            <label>{{item.id}}</label>
                        </div>
                        <div class="col-8">
                            <label>{{item.nome}}</label>
                        </div>
                        <div class="col-2">
                            {{item.ativo}}
                            <acoes 
                            ativoAtivo="!item.ativo"
                            desativoAtivo="!!item.ativo"
                            out-alterar="vm.viewAlterar(item.id)" 
                            out-excluir="vm.viewExcluir(item.id)"></acoes>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div ng-if="!vm.list || vm.list.length <= 0" class="row lanc-list-table-empty">
        <div style="margin: 10px;">
            Não há itens na lista
        </div>
    </div>
    <div ng-if="!!vm.list" class="row lanc-list-pagination">
        <paginacao config="vm.paginacaoConfig" out-change="vm.viewPaginacaoChange($event)"></paginacao>
    </div>
</div>