<div class="lanc-list" ng-controller="ClienteListController">
    <cadastro nome="view.nome">
        <form novalidate style="width: 100%;" ng-submit="view.viewPesquisarNome(view.pesquisaModel)">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button ng-click="view.viewPesquisarNome(null)" type="button" class="input-group-text"
                        id="basic-addon2">
                        <i class="fas fa-retweet"></i>
                    </button>
                </div>
                <input type="text" placeholder="Nome..." class="form-control" ng-model="view.pesquisaModel">
                <div class="input-group-append">
                    <button ng-click="view.viewPesquisarNome(view.pesquisaModel)" type="button" class="input-group-text"
                        id="basic-addon2">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </cadastro>
    <div ng-if="!!view.list && view.list.length > 0" class="row lanc-list-table">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in view.list">
                <div class="col-12">
                    <div class="row">
                        <div class="col-2">
                            <label>{{item.id}}</label>
                        </div>
                        <div class="col-8">
                            <label>{{item.nome}}{{item.ativo}}</label>
                        </div>
                        <div class="col-2">
                            <acoes rota="view.nome"
                            config="{ ativo: item.ativo, usarAtivacao: true, alterarAtivo: true }"
                            out-aticao="view.viewAtivacao($event, item.id);"
                            out-alterar="view.viewAlterar(item.id)" 
                            out-excluir="view.viewExcluir(item.id)"></acoes>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div ng-if="!view.list || view.list.length <= 0" class="row lanc-list-table-empty">
        <div style="margin: 10px;">
            Não há itens na lista
        </div>
    </div>
    <div ng-if="!!view.list" class="row lanc-list-pagination">
        <paginacao config="view.paginacaoConfig" out-change="view.viewPaginacaoChange($event)"></paginacao>
    </div>
</div>