<div class="ClienteCadastroController">
    <h3>{{ view.editar ? 'Edição' : 'Cadastro'}}</h3>
    <br>
    <form ng-focus="view.updateViewBase()" ng-submit="view.formSubmit()" novalidate>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" ng-class="{ active: view.viewIndexTab == 1 }" id="nav-home-tab"
                    data-toggle="tab" ng-click="view.viewSetTab(1)" role="tab" aria-controls="nav-home"
                    aria-selected="true">Dados</a>
                <a class="nav-item nav-link" ng-class="{ active: view.viewIndexTab == 2 }" id="nav-profile-tab"
                    data-toggle="tab" ng-click="view.viewSetTab(2)" role="tab" aria-controls="nav-profile"
                    aria-selected="false">Endereço</a>
            </div>
        </nav>        
        <div class="tab-content lanc-tab" id="nav-tabContent">
            <div class="tab-pane fade" ng-class="{ 'show active': view.viewIndexTab == 1 }" id="nav-home"
                role="tabpanel" aria-labelledby="nav-home-tab">
                <!-- TAB DADOS -->
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <label for="id">Id</label>
                            <input ng-readonly="true" ng-disabled="true" type="text" class="form-control" id="id"
                                ng-required="false" ng-value="view.entity.id">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_nome">Nome</label>
                            <input type="text" class="form-control" id="id_nome" ng-required="!!view.erros.nome"
                                ng-maxlength="{{150}}" ng-model="view.entity.nome" aria-describedby="Nome do cliente" placeholder="">
                            <small id="textHelp" class="form-text text-muted">{{view.erros.nome}}</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_email">Email</label>
                            <input type="email" class="form-control" id="id_email" ng-required="!!view.erros.email"
                            ng-maxlength="{{100}}" ng-model="view.entity.email" aria-describedby="Email do cliente" placeholder="">
                            <small id="textHelp" class="form-text text-muted">{{view.erros.email}}</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <label for="id_tipoPessoa">Tipo Pessoa</label>
                            <select type="text" class="form-control" id="id_tipoPessoa"
                                ng-options="item.value as item.key for item in view.tiposPessoa track by item.value"
                                ng-required="false" ng-value="view.entity.tipoPessoa" ng-model="view.entity.tipoPessoa"
                                ng-change="view.updateViewBase();view.updateComponent()">
                                <option selected>Selecione</option>
                            </select>
                        </div>
                    </div>

                    <div ng-if="view.isPessoaFisica" class="col">
                        
                        <div class="form-group">
                            <label for="id_rg">RG</label>
                            <input-rg 
                                value="{{ view.entity.rg }}" 
                                customclass="{{ !view.erros.rg ? 'form-control' : 'form-control ng-invalid ng-invalid-required'}}"
                                required="{{ !!view.erros.rg }}" ng-model="view.entity.rg" onchange></input-rg>
                            <small id="textHelp" class="form-text text-muted">{{view.erros.rg}}</small>
                        </div>
                    </div>
                    <div ng-if="view.isPessoaFisica" class="col">
                        <div class="form-group">
                            <label for="id_cpf">Cpf</label>
                            <input-cpf 
                                value="{{ view.entity.cpf }}" 
                                customclass="{{ !view.erros.cpf ? 'form-control' : 'form-control ng-invalid ng-invalid-required'}}"
                                required="{{ !!view.erros.cpf }}" ng-model="view.entity.cpf" onchange></input-cpf>
                            <small id="textHelp" class="form-text text-muted">{{view.erros.cpf}}</small>
                        </div>
                    </div>

                    <div ng-if="!view.isPessoaFisica" class="col">
                        <div class="form-group">
                            <label for="id_cnpj">Cnpj</label>
                            <input-cnpj 
                                value="{{ view.entity.cnpj }}" 
                                customclass="{{ !view.erros.cnpj ? 'form-control' : 'form-control ng-invalid ng-invalid-required'}}"
                                required="{{ !!view.erros.cnpj }}" ng-model="view.entity.cnpj" onchange></input-cnpj>
                            <small id="textHelp" class="form-text text-muted">{{view.erros.cnpj}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" ng-class="{ 'show active': view.viewIndexTab == 2 }" id="nav-profile"
                role="tabpanel" aria-labelledby="nav-profile-tab">
                <!-- TAB ENDEREÇO -->
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_endereco.cep">Cep</label>
                                    <input-cep
                                    value="{{ view.entity.endereco.cep }}" 
                                    customclass="{{ !view.erros.endereco.cep ? 'form-control' : 'form-control ng-invalid ng-invalid-required'}}"
                                    required="{{ !!view.erros.endereco.cep }}" ng-model="view.entity.endereco.cep" onchange
                                    ></input-cep>
                                    <small id="textHelp"
                                        class="form-text text-muted">{{view.erros.endereco.cep}}</small>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="id_endereco.logradouro">Logradouro</label>
                                    <input type="text" class="form-control endereco.logradouro" id="id_endereco.logradouro" ng-required="!!view.erros.endereco.logradouro"
                                        ng-model="view.entity.endereco.logradouro" aria-describedby="Logradouro do cliente"
                                        placeholder="">
                                    <small id="textHelp" class="form-text text-muted">{{view.erros.endereco.logradouro}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="id_endereco.numero">Número</label>
                                    <input type="text" class="form-control endereco.numero" id="id_endereco.numero" ng-required="!!view.erros.endereco.numero"
                                        ng-model="view.entity.endereco.numero" aria-describedby="Número do cliente" placeholder="">
                                    <small id="textHelp" class="form-text text-muted">{{view.erros.endereco.numero}}</small>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="id_endereco.bairro">Bairro</label>
                                    <input type="text" class="form-control endereco.bairro" id="id_endereco.bairro" ng-required="!!view.erros.endereco.bairro"
                                        ng-model="view.entity.endereco.bairro" aria-describedby="Bairro do cliente" placeholder="">
                                    <small id="textHelp" class="form-text text-muted">{{view.erros.endereco.bairro}}</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="id_endereco.complemento">Complemento</label>
                                    <input type="text" class="form-control endereco.complemento" id="id_endereco.complemento" ng-required="!!view.erros.endereco.complemento"
                                        ng-model="view.entity.endereco.complemento" aria-describedby="Complemento do cliente" placeholder="">
                                    <small id="textHelp" class="form-text text-muted">{{view.erros.endereco.complemento}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="id_endereco.localidade">Cidade</label>
                                    <input type="text" class="form-control endereco.localidade"
                                        id="id_endereco.localidade" ng-required="!!view.erros.endereco.localidade"
                                        ng-model="view.entity.endereco.localidade" aria-describedby="Cidade do cliente"
                                        placeholder="">
                                    <small id="textHelp"
                                        class="form-text text-muted">{{view.erros.endereco.localidade}}</small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_endereco.uf">Estado</label>
                                    <input type="text" class="form-control endereco.uf" id="id_endereco.uf"
                                        ng-required="!!view.erros.endereco.uf" ng-model="view.entity.endereco.uf"
                                        aria-describedby="Estado do cliente" placeholder="">
                                    <small id="textHelp" class="form-text text-muted">{{view.erros.endereco.uf}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button-salvar editar="view.editar"></button-salvar>
    </form>
</div>