body {
  margin: 0 !important;
  padding: 0 0 0 30px !important;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  color: #3b3b3b;
}

a {
  color: rgba(0, 0, 0, 0.5);
}

approot > main:nth-child(1).row {
  height: calc(100vh - 80px);
}

.lanc-tab {
  padding: 10px;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-group-header label {
  font-weight: bold;
}

button > small {
  color: #000;
}

small.form-text.text-muted {
  color: rgb(230, 78, 109) !important;
}

.ng-invalid.ng-invalid-required {
  border-color: rgb(230, 78, 109) !important;
}

approot > main .lanc-menu {
  background-color: #474787 !important;
  color: white;
}

approot > main .lanc-menu .nav-item .nav-link {
  color: white !important;
}
approot > main .lanc-menu .nav-item:hover .nav-link {
  color: #ccc !important;
}

approot > main .lanc-menu .nav-item.active .nav-link {
  color: #ffb142 !important;
  font-weight: bold;
}

approot > main .container-fluid {
  padding: 10px;
}

.btn.btn-primary > a {
  color: white;
}
.list-group {
  width: 100%;
}

.lanc-list {
}

.lanc-list-break {
  height: calc(30px);
}

.lanc-list-table {
  height: calc(100vh - calc(250px));
  overflow-x: hidden;
  overflow-y: auto;
}

.lanc-list-table-empty {
  height: calc(100vh - calc(270px));
  overflow-x: hidden;
  overflow-y: auto;
}

.lanc-list-pagination {
  height: calc(20px);
}

.loading {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.2;
  padding: 40vh 40vw;
}
