<div class="LancheCadastroController">
    <h3>{{ view.editar ? 'Edição' : 'Cadastro'}}</h3>
    <br>
    <form ng-submit="view.formSubmit()" novalidate>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" ng-class="{ active: view.viewIndexTab == 1 }" id="nav-home-tab"
                    data-toggle="tab" ng-click="view.viewSetTab(1)" role="tab" aria-controls="nav-home"
                    aria-selected="true">Dados</a>
                <a class="nav-item nav-link" ng-class="{ active: view.viewIndexTab == 2 }" id="nav-profile-tab"
                    data-toggle="tab" ng-click="view.viewSetTab(2)" role="tab" aria-controls="nav-profile"
                    aria-selected="false">Itens</a>
            </div>
        </nav>
        <div class="tab-content lanc-tab" id="nav-tabContent">
            <div class="tab-pane fade" ng-class="{ 'show active': view.viewIndexTab == 1 }" id="nav-home"
                role="tabpanel" aria-labelledby="nav-home-tab">
                <!-- TAB DADOS -->
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <label for="id">Id</label>
                            <input ng-readonly="true" ng-disabled="true" type="text" class="form-control" id="id"
                                ng-required="false" ng-value="view.entity.id">
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_nome">Nome</label>
                            <input type="text" class="form-control" id="id_nome" ng-maxlength="{{150}}" ng-model="view.entity.nome"
                                aria-describedby="textHelp" placeholder="">
                            <small id="textHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputValor1">Valor</label>
                            <input-money value="view.entity.valor" out-change="view.viewUpdateValor($event)"
                                customclass="!view.erros.valor ? 'form-control' : 'form-control ng-invalid ng-invalid-required'">
                            </input-money>
                            <small id="valorHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <div class="col">
                            <div class="row">
                                <h6>Produtos</h6>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in view.produtos track by $index">
                                <div class="col-12" ng-click="view.viewSelecionarProduto($index)">
                                    <div class="row">
                                        <div class="col-2">
                                            <button ng-disabled="true" type="button" class="btn btn-out-light">
                                                <small><b>{{item.id}}</b></small>
                                            </button>
                                        </div>
                                        <div class="col">
                                            <button ng-disabled="true" type="button" class="btn btn-out-light">
                                                <small>
                                                    <b>Produto:</b> {{item.nome}}
                                                </small>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <div class="col">
                            <div class="row">
                                <h6>Itens</h6>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in view.ingredientesLancheFilter() track by $index">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <button ng-disabled="true" type="button" class="btn btn-out-light">
                                                <small><b>{{item.id}}</b></small>
                                            </button>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <small>
                                                    <b>Produto:</b> {{item.produtoNome}}
                                                </small>
                                            </div>
                                            <div class="row">
                                                <small>
                                                    <b>Quantidade:</b> {{view.contarQuantidade(item.id)}}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <!-- <acoes rota="view.nome"
                                                config="{ ativo: item.ativo, usarAtivacao: true, alterarAtivo: true, excluirAtivo: true }"
                                                out-alterar="view.viewAlterar(item.id)"
                                                out-excluir="view.viewExcluir(item.id)">
                                            </acoes> -->
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div ng-if="!!view.produtos" class="lanc-list-pagination">
                            <paginacao config="view.paginacaoConfig" out-change="view.viewPaginacaoChange($event)">
                            </paginacao>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{ view.editar ? 'Atualizar' : 'Salvar'}}</button>
    </form>
</div>

<style scoped>
    ul.list-group {
        height: 100px;
        overflow-x: hidden;
        overflow-y: scroll;
        border: 1px solid rgba(0, 0, 0, .125);
    }
    ul.list-group > li.list-group-item {
        padding: 0;
    }
</style>