<div class="LancheCadastroController">
    <h3>{{ view.editar ? 'Edição' : 'Cadastro'}}</h3>
    <br>
    <form ng-submit="view.formSubmit()" novalidate>
        <div class="tab-content lanche">
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label for="id">Id</label>
                        <input ng-readonly="true" ng-disabled="true" type="text" class="form-control" id="id"
                            ng-required="false" ng-value="view.entity.id">
                    </div>

                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="id_nome">Nome</label>
                        <input type="text" class="form-control" id="id_nome" ng-maxlength="{{150}}"
                            ng-model="view.entity.nome" aria-describedby="textHelp" placeholder="">
                        <small id="textHelp" class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputValor1">Valor</label>
                        <input-money value="view.entity.valor" out-change="view.viewUpdateValor($event)"
                            customclass="!view.erros.valor ? 'form-control' : 'form-control ng-invalid ng-invalid-required'">
                        </input-money>
                        <small id="valorHelp" class="form-text text-muted"></small>
                    </div>
                </div>
            </div>
            <hr>

            <!-- ITENS  -->
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <div class="col">
                            <div class="row">
                                <h6>Produtos</h6>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in view.produtos track by $index">
                                <div class="col-12" ng-click="view.viewSelecionarProduto($index)">
                                    <div class="row">
                                        <div class="col-2">
                                            <button ng-disabled="true" type="button" class="btn btn-out-light">
                                                <small><b>{{item.id}}</b></small>
                                            </button>
                                        </div>
                                        <div class="col">
                                            <button ng-disabled="true" type="button" class="btn btn-out-light">
                                                <small>
                                                    <b>Produto:</b> {{item.nome}}
                                                </small>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <div class="col">
                            <div class="row">
                                <h6>Itens</h6>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"
                                ng-repeat="item in view.ingredientesLancheFilter() track by $index">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <button ng-disabled="true" type="button" class="btn btn-out-light">
                                                <small><b>{{item.id}}</b></small>
                                            </button>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <small>
                                                    <b>Produto:</b> {{item.nome}}
                                                </small>
                                            </div>
                                            <div class="row">
                                                <small>
                                                    <b>Quantidade:</b> {{view.contarQuantidade(item.id)}}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <button type="button" ng-click="view.viewRemoverItem(item.id)" class="btn btn-danger">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div ng-if="!!view.produtos" class="lanc-list-pagination">
                            <paginacao config="view.paginacaoConfig" out-change="view.viewPaginacaoChange($event)">
                            </paginacao>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <button-salvar editar="view.editar"></button-salvar>
    </form>
</div>

<style scoped>
    div.tab-content.lanche {
        height: 58vh !important;
    }

    ul.list-group {
        height: 180px;
        overflow-x: hidden;
        overflow-y: scroll;
        border: 1px solid rgba(0, 0, 0, .125);
    }

    ul.list-group>li.list-group-item {
        padding: 0;
    }
</style>