<div class="LancheCadastroController">
    <form ng-submit="view.formSubmit()" novalidate>
        <button-salvar editar="view.editar"></button-salvar>
        <hr>
        <div class="tab-content lanche">
            <div class="col">
                <div class="row">
                    <div class="col-lg-1 col-md-2">
                        <div class="form-group">
                            <label for="id">Id</label>
                            <input ng-readonly="true" ng-disabled="true" type="text" class="form-control" id="id"
                                ng-required="false" ng-value="view.entity.id">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-10">
                        <div class="form-group">
                            <label for="id_nome">Nome</label>
                            <input type="text" class="form-control" id="id_nome" ng-maxlength="{{150}}"
                                ng-model="view.entity.nome" aria-describedby="textHelp" placeholder="">
                            <small id="textHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label for="exampleInputValor1">Valor</label>
                            <input-money disabled="true" value="view.entity.valor" out-change="view.viewUpdateValor($event)"
                                customclass="!view.erros.valor ? 'form-control' : 'form-control ng-invalid ng-invalid-required'">
                            </input-money>
                            <small id="valorHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label for="exampleInputValorTotal1">Total</label>
                            <input-money value="view.entity.valorTotal" out-change="view.viewUpdateValorTotal($event)"
                                customclass="!view.erros.valorTotal ? 'form-control' : 'form-control ng-invalid ng-invalid-required'">
                            </input-money>
                            <small id="valorHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- ITENS  -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link" ng-class="{ active: view.viewIndexTab == 1 }" id="nav-home-tab"
                        data-toggle="tab" ng-click="view.viewSetTab(1)" role="tab" aria-controls="nav-home"
                        aria-selected="true">Lanches</a>
                    <a class="nav-item nav-link" ng-class="{ active: view.viewIndexTab == 2 }" id="nav-profile-tab"
                        data-toggle="tab" ng-click="view.viewSetTab(2)" role="tab" aria-controls="nav-profile"
                        aria-selected="false">Bebidas</a>
                </div>
            </nav>
            <div class="tab-content lanc-tab" id="nav-tabContent">
                <div class="row">
                    <div class="tab-pane fade col-12 show active" ng-if="view.viewIndexTab == 1">
                        <!-- LANCHE -->
                        <div class="d-flex justify-content-center">
                            <h6>Lanches</h6>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <h6>Lista</h6>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item"
                                        ng-repeat="item in view.viewLanchesFiltrado() track by $index">
                                        <div class="col-12" ng-click="view.viewSelecionarLanche(item.id)">
                                            <div class="row">
                                                <div class="col-2">
                                                    <button ng-disabled="true" type="button" class="btn btn-out-light">
                                                        <small><b>{{item.id}}</b></small>
                                                    </button>
                                                </div>
                                                <div class="col">
                                                    <button ng-disabled="true" type="button" class="btn btn-out-light">
                                                        <div class="row">
                                                            <small>
                                                                <b>Lanche:</b> {{item.nome}}
                                                            </small>
                                                        </div>
                                                        <div class="row">
                                                            <small>
                                                                <b>R$:</b> {{item.valor}}
                                                            </small>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <h6>Itens</h6>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item"
                                        ng-repeat="item in view.viewLanchesFilter() track by $index">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-2">
                                                    <button ng-disabled="true" type="button" class="btn btn-out-light">
                                                        <small><b>{{$index+ 1}}</b></small>
                                                    </button>
                                                </div>
                                                <div class="col">
                                                    <div class="row">
                                                        <small>
                                                            <b>Lanche:</b> {{item.nome}}
                                                        </small>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <small>
                                                                <b>R$:</b> {{item.valor}}
                                                            </small>
                                                        </div>
                                                        <div class="col-6">
                                                            <small>
                                                                <b>Quantidade:</b>
                                                                {{view.viewContarQuantidadeLanche(item.id)}}
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <button type="button"
                                                                ng-click="view.viewDuplicarLanche(item.id)"
                                                                class="btn btn-primary">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-4">
                                                            <button type="button"
                                                                ng-click="view.viewUnicoLanche(item.id)"
                                                                class="btn btn-info">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-4">
                                                            <button type="button"
                                                                ng-click="view.viewRemoverLanche(item.id)"
                                                                class="btn btn-danger">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div ng-if="!!view.produtos" class="lanc-list-pagination">
                                    <paginacao config="view.paginacaoLancheConfig"
                                        out-change="view.viewPaginacaoLancheChange($event)">
                                    </paginacao>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade col-12 show active" ng-if="view.viewIndexTab == 2">
                        <!-- BEBIDA -->
                        <div class="d-flex justify-content-center">
                            <h6>Bebidas</h6>
                        </div>
                        <div class="row">

                            <div class="col-6">
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <h6>Lista</h6>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item"
                                        ng-repeat="item in view.viewBebidasFiltrado() track by $index">
                                        <div class="col-12" ng-click="view.viewSelecionarBebida(item.id)">
                                            <div class="row">
                                                <div class="col-2">
                                                    <button ng-disabled="true" type="button" class="btn btn-out-light">
                                                        <small><b>{{item.id}}</b></small>
                                                    </button>
                                                </div>
                                                <div class="col">
                                                    <button ng-disabled="true" type="button" class="btn btn-out-light">
                                                        <div class="row">
                                                            <small>
                                                                <b>Bebida:</b> {{item.nome}}
                                                            </small>
                                                        </div>
                                                        <div class="row">
                                                            <small>
                                                                <b>R$:</b> {{item.valor}}
                                                            </small>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <h6>Itens</h6>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item"
                                        ng-repeat="item in view.viewBebidasFilter() track by $index">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-2">
                                                    <button ng-disabled="true" type="button" class="btn btn-out-light">
                                                        <small><b>{{$index+ 1}}</b></small>
                                                    </button>
                                                </div>
                                                <div class="col">
                                                    <div class="row">
                                                        <small>
                                                            <b>Bebida:</b> {{item.nome}}
                                                        </small>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <small>
                                                                <b>R$:</b> {{item.valor}}
                                                            </small>
                                                        </div>
                                                        <div class="col-6">
                                                            <small>
                                                                <b>Quantidade:</b>
                                                                {{view.viewContarQuantidadeBebida(item.id)}}
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <button type="button"
                                                                ng-click="view.viewDuplicarBebida(item.id)"
                                                                class="btn btn-primary">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-4">
                                                            <button type="button"
                                                                ng-click="view.viewUnicoBebida(item.id)"
                                                                class="btn btn-info">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-4">
                                                            <button type="button"
                                                                ng-click="view.viewRemoverBebida(item.id)"
                                                                class="btn btn-danger">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div ng-if="!!view.produtos" class="lanc-list-pagination">
                                    <paginacao config="view.paginacaoConfig"
                                        out-change="view.viewPaginacaoChange($event)">
                                    </paginacao>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div ng-if="!!view.produtos" class="lanc-list-pagination">
                                    <paginacao config="view.paginacaoConfig"
                                        out-change="view.viewPaginacaoChange($event)">
                                    </paginacao>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>