<nav aria-label="...">
    <ul class="pagination">
        <li ng-class="{ 'disabled': config.paginationFirst}" class="page-item">
            <button type="button" ng-disabled="config.paginationFirst" ng-click="viewPageNavigationAnterior()"
                class="page-link">Anterior</button>
        </li>
        <li ng-repeat="page in config.pagination" ng-class="{'active': config.page == page}" class="page-item">
            <a class="page-link" ng-click="viewPageNavigation(page)">{{page}}</a>
        </li>
        <li ng-class="{ 'disabled': config.paginationLast}" class="page-item">
            <button type="button" ng-disabled="config.paginationLast" ng-click="viewPageNavigationProxima()"
                class="page-link">Próxima</button>
        </li>
        <li>
            <!-- <div>oi</div> -->
        </li>
    </ul>
</nav>