<div class="EstoqueListController">
    <cadastro nome="view.nome"></cadastro>
    <div ng-if="!!view.list && view.list.length > 0" class="row lanc-list-table">
        <ul class="list-group">
            <li class="list-group-header">
                <div class="d-sm-none d-md-block d-lg-block col-12">
                    <div class="row">
                        <div class="col-2">
                            <label>{{'Identificação'}}</label>
                        </div>
                        <div class="col-6">
                            <label>{{'Produto'}}</label>
                        </div>
                        <div class="col-2">
                            <label>{{'Quantidade'}}</label>
                        </div>
                        <div class="col-2">
                            <label>{{'Ações'}}</label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item" ng-repeat="item in view.list">
                <div class="d-sm-none d-md-block d-lg-block col-12">
                    <div class="row">
                        <div class="col-2">
                            <label>{{item.id}}</label>
                        </div>
                        <div class="col-6">
                            <label>{{item.produtoNome}}</label>
                        </div>
                        <div class="col-2">
                            <label>{{item.quantidade}}</label>
                        </div>
                        <div class="col-2">
                            <acoes rota="view.nome"
                                config="{ ativo: false, usarAtivacao: false, alterarAtivo: true, excluirAtivo: true }"
                                out-alterar="view.viewAlterar(item.id)" out-excluir="view.viewExcluir(item.id)"></acoes>
                        </div>
                    </div>
                </div>
                <div class="d-sm-block d-md-none d-lg-none col-12">
                    <div class="row">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#{{item.nome + item.id}}">
                            Ações
                        </button>

                        <!-- Modal -->
                        <div class="modal" id="{{item.nome + item.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ações</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <acoes rota="view.nome"
                                            config="{ ativo: item.ativo, usarAtivacao: true, alterarAtivo: true, excluirAtivo: true }"
                                            out-alterar="view.viewAlterar(item.id)"
                                            out-excluir="view.viewExcluir(item.id)"></acoes>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div ng-if="!view.list || view.list.length <= 0" class="row lanc-list-table-empty">
        <div style="margin: 10px;">
            Não há itens na lista
        </div>
    </div>
    <div ng-if="!!view.list" class="row lanc-list-pagination">
        <paginacao config="view.paginacaoConfig" out-change="view.viewPaginacaoChange($event)"></paginacao>
    </div>
</div>